# Interfaz web
streamlit==1.25.0

# Manipulación de datos
pandas==2.1.1
numpy==1.26.5

# Google Sheets
gspread==6.2.1
google-auth==2.23.0

# Visualización
plotly==5.17.0

# Machine Learning
scikit-learn==1.3.1
